body
{
    background-color: beige;
}
ul 
{
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.navbar 
{
    display: flex;
    justify-content: space-between;
    border: 1px solid darkblue;
    padding: 10px;
}

ul li 
{
    cursor: pointer;
    color: darkblue;
    font-weight: bold;
    font-size:17px;
}
ul
{
    margin-right: 0px;
}
h3 
{
    margin-left: 0px;
    color: darkblue;
}
h1 
{
    margin-left: 45%;
    margin-top: 40vh;
   
}
.submenu 
{
    position: absolute;
    height:200px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    visibility: hidden;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.submenu ul
{
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    list-style: circle;
    position: absolute;
}
input
{
    padding: 10px;
}
.CAG_CHEMIN
{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width:350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    visibility: hidden;
    position: absolute;
    
}
.upper 
{
    display: flex;
    justify-content: center;
}
table,td,th 
{
    border: 1px solid black;
  
}
.table
{
display: none;
}
table
{
background-color: white;      
border-collapse: collapse;
width: 80%;
margin-left: auto;
margin-right: auto;
}
td,th 
{
     padding: 20px; 
     font-size: 20px;
}
.saisir_proportion
{
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.saisir_proportion input 
{
    display: block;
    background-color: beige;
}
#send_data
{
    padding: 10px;
    margin-left: auto;
    display: block;
    font-size: 15px;
    margin-right: auto;
}
/* .pop_up 
{
    margin: 0px;
    padding: 0px;
    height: 100vh;
width: 100vw;
position: absolute;
top: 0px;
bottom: 0px;
} */